@media (max-width: 1281px)
    .header__name
        a
            font-size: .9em

@media (max-width: 991px)
    .header__name
        a
            font-size: .8em
    .header
        .header__nav
            width: 32%
        .header__social
            justify-content: flex-end
            width: 25%

    .container__skills__about
        .skills
            font-size: 1.1em
        .skill
            #normal-width
                width: 47%
            #mid-width
                width: 25%
            #max-width
                width: 52%
            #max-width-skill
                width: 32%

        .about
            .about__contant
                .intro__quote
                    font-size: 1.1em
                    .quotes
                        font-size: 2.2rem

    .footer-container
        .right-footer-block
            width: 25%

    .footer-form
        width: 27%
        textarea
            width: 89%
