@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  50% {
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
  }
  to {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  50% {
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
  }
  to {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
}

@-webkit-keyframes pulse2 {
  from {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  to {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
}

@keyframes pulse2 {
  from {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  to {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
}

@-webkit-keyframes showBlockLeft {
  0% {
    left: -100rem;
  }
  100% {
    left: 0;
  }
}

@keyframes showBlockLeft {
  0% {
    left: -100rem;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes hiddenBlockLeft {
  0% {
    left: 0;
  }
  100% {
    left: -100rem;
  }
}

@keyframes hiddenBlockLeft {
  0% {
    left: 0;
  }
  100% {
    left: -100rem;
  }
}

@-webkit-keyframes showBlockRight {
  0% {
    right: -100rem;
  }
  100% {
    right: 0;
  }
}

@keyframes showBlockRight {
  0% {
    right: -100rem;
  }
  100% {
    right: 0;
  }
}

@-webkit-keyframes underlineAnimation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes underlineAnimation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes underlineAnimationRemove {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes underlineAnimationRemove {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.skills__about {
  position: relative;
  z-index: -1;
  height: 100%;
  width: 100%;
  padding-top: 198px;
}

.skills {
  position: relative;
  left: -100rem;
  z-index: 10;
  width: 41%;
  color: #ffffff;
  font-size: 1.3rem;
  line-height: 1.1rem;
}

.container__skills__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/** .skills__container
 position: relative
 background-color: #28292C
 margin-bottom: 1rem
 max-height: 10rem
 overflow: hidden
 transition: max-height 0.5s ease-in
 transition: box-shadow .5s
 &:hover
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 20px 22px rgba(255, 0, 31, 0.09)
 &:hover .title__closed
 color: #FF001F
 .box
 display: flex
 position: relative
 top: -1rem
 height: 10rem
 overflow: hidden
 .title__closed
 width: 50%
 transition: color .5s
 .box__opened
 margin-top: 1rem
 position: relative
 display: flex
 height: 0
 transition: max-height .4s ease-in
 .box__closed
 height: 10rem
 position: relative
 cursor: pointer
 margin-top: 1.4rem
 .closed__title__icon
 display: flex
 height: 1rem
 padding: 1rem
 .icon__closed
 width: 50%
 text-align: right
 .closed__descr
 padding: 1rem
 .closed__show
 width: 3rem
 text-decoration-line: underline
 padding: 1rem
 transition: color .5s
 cursor: pointer
 &:hover
 color: #FF001F

    .box__opened > *
        padding: 20px
        margin: 0
        display: block **/
.accordeon-wrapper {
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-top: 50px;
}

.accordeon-section {
  margin-bottom: 1rem;
}

.accordeon-section:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 20px 22px rgba(255, 0, 31, 0.09);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 20px 22px rgba(255, 0, 31, 0.09);
}

.accordeon-section:hover .title__closed {
  color: #FF001F;
}

.accordeon-header {
  background-color: #28292C;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.accordeon-header:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 20px 22px rgba(255, 0, 31, 0.09);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 20px 22px rgba(255, 0, 31, 0.09);
}

.accordeon-header .box__closed .closed__title__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  padding: 1rem;
}

.accordeon-header .box__closed .closed__title__icon .title__closed {
  width: 50%;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.accordeon-header .box__closed .closed__title__icon .icon__closed {
  width: 50%;
  text-align: right;
}

.accordeon-header .box__closed .closed__descr {
  padding: 1rem;
  padding-bottom: 2rem;
}

.accordeon-header .box__closed .closed__show {
  width: 3rem;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  padding: 1rem;
  -webkit-transition: color .5s;
  transition: color .5s;
  cursor: pointer;
}

.accordeon-header .box__closed .closed__show:hover {
  color: #FF001F;
}

.accordeon-body {
  background-color: #28292C;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height .4s ease-in;
  transition: max-height .4s ease-in;
}

.accordeon-body > * {
  margin: 0;
  display: block;
}

.accordeon-body .all__skills__container {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.accordeon-body .all__skills__container .all__skills {
  padding: 0 1rem 0 1rem;
}

.accordeon-body .all__skills__container .all__skills .skill {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1.8rem;
}

.accordeon-body .all__skills__container .all__skills .skill:last-child {
  padding-bottom: 1rem;
}

.accordeon-body .all__skills__container .all__skills .skill .skill__name {
  font-weight: bold;
  width: 17%;
}

.accordeon-body .all__skills__container .all__skills .skill .skill__lvl__container {
  display: inline-block;
  width: 13rem;
  height: 1rem;
  background: #28292C;
  overflow: hidden;
  border-radius: 1rem;
}

.accordeon-body .all__skills__container .all__skills .skill .skill__lvl {
  height: 2rem;
}

.accordeon-body .all__skills__container .all__skills .skill .skill__procent {
  position: absolute;
  right: 0;
}

.accordeon-body .all__skills__container .skills__descr {
  padding: 1rem;
  padding-top: 2rem;
  line-height: 2rem;
}

.color-text-orange {
  color: #F95A2E;
}

.color-container-orange {
  border: 1px solid #F95A2E;
  -webkit-box-shadow: 0px 0px 30px rgba(249, 90, 46, 0.41);
          box-shadow: 0px 0px 30px rgba(249, 90, 46, 0.41);
}

.color-skill-orange {
  background: #F95A2E;
}

.color-text-blue1 {
  color: #1992CE;
}

.color-container-blue1 {
  background: #28292C;
  border: 1px solid #1992CE;
  -webkit-box-shadow: 0px 0px 30px rgba(25, 146, 206, 0.41);
          box-shadow: 0px 0px 30px rgba(25, 146, 206, 0.41);
}

.color-skill-blue1 {
  background: #1992CE;
}

.color-text-blue2 {
  color: #53C1DE;
}

.color-container-blue2 {
  border: 1px solid #53C1DE;
  -webkit-box-shadow: 0px 0px 30px rgba(83, 193, 222, 0.41);
          box-shadow: 0px 0px 30px rgba(83, 193, 222, 0.41);
}

.color-skill-blue2 {
  background: #53C1DE;
}

.color-text-yellow {
  color: #FFD500;
}

.color-container-yellow {
  border: 1px solid #FFD500;
  -webkit-box-shadow: 0px 9px 30px rgba(255, 213, 0, 0.41);
          box-shadow: 0px 9px 30px rgba(255, 213, 0, 0.41);
}

.color-skill-yellow {
  background: #FFD500;
}

.opened {
  maxHeight: 0px;
}

.about {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 0;
  -webkit-transition: opacity 5s;
  transition: opacity 5s;
}

.introduction__title {
  width: 100%;
  height: 1rem;
  margin-bottom: 2rem;
}

.about__contant {
  width: 85%;
  height: 100%;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.about__contant h3 {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
}

.intro__name__age {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}

.intro__quote {
  font-size: 1.3rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
}

.quotes {
  font-size: 2.7rem;
}

.intro__text {
  font-size: 1.3rem;
  line-height: 1.7rem;
}

.cv {
  width: 15%;
  display: block;
  text-align: center;
}

.cv__text {
  padding-top: 0.5rem;
  color: #FFD500;
}
/*# sourceMappingURL=about_skills.css.map */